[class*='container'],
[class^='col'],
.debug{
  /* background-color: rgba(238, 255, 0, 0.125); */
  border: 1px solid black;
  min-height: 80px;
}

header{
    height: 85px;
}

ul li{
    list-style: none;
}

/* custom proprerties */
:root{
    --colore-primario: #2C3E50; 
    --colore-jumbotron: #17BD9C;
    --colore-topfooter: #3A546D;
    --colore-bottom-footer: #2C3E50;
    --colore-icon-header: #888888;
}

/* Header */
header{
    background-color: var(--colore-primario);   
}

.hamburger .fa-solid{
    color: var(--colore-icon-header);
    
}

/* Sezione Jumbotron */
.jumbotron{
    background-color: var(--colore-jumbotron);
    /* height: 600px; */
}

.text-jumbotron{
    text-align: center;
}

/* Sezione Portfolio */


/* Sezione About */
.about{
    background-color: var(--colore-jumbotron);
}

/* footer */

/* topfooter */
.top-footer{
    background-color: var(--colore-topfooter);
}

/* bottom-footer */
.bottom-footer{
    background-color: var(--colore-bottom-footer);
    height: 110px;
}


