[class*='container'],
[class^='col'],
.debug{
  border: 1px solid black;
  min-height: 80px;
}

header{
    height: 85px;
}

ul li{
    list-style: none;
}

/* custom proprerties */
:root{
    --colore-primario: #2C3E50; 
    --colore-jumbotron: #17BD9C;
    --colore-topfooter: #3A546D;
    --colore-bottom-footer: #2C3E50;
    --colore-icon-header: #888888;
}

/* Header */
header{
    background-color: var(--colore-primario);  
    left: 0; 
    top: 0;
}

.hamburger .fa-solid{
    color: var(--colore-icon-header);   
}

.menu{
    cursor: pointer;
}

/* Sezione Jumbotron */
.jumbotron{
    background-color: var(--colore-jumbotron);
    margin-top: 85px;
}

.text-jumbotron{
    text-align: center;
}

/* Sezione Portfolio */
.img-portfolio img{
    width: 100%;
}


/* Sezione About */
.about{
    background-color: var(--colore-jumbotron);
}

/* footer */

/* topfooter */
.top-footer{
    background-color: var(--colore-topfooter);
}

/* bottom-footer */
.bottom-footer{
    background-color: var(--colore-bottom-footer);
    height: 110px;
}


