/* [class*='container'],
[class^='col'],
.debug{ */
  /* border: 1px solid black; */
  /* min-height: 80px; */
/* } */

header{
    height: 85px;
}

ul li{
    list-style: none;
}

/* custom proprerties */
:root{
    --colore-primario: #2C3E50; 
    --colore-jumbotron: #17BD9C;
    --colore-topfooter: #3A546D;
    --colore-bottom-footer: #2C3E50;
    --colore-icon-header: #888888;
}

.dr_container{
    width: 60%;
    margin: 0 auto;
}

/* Header */
header{
    background-color: var(--colore-primario);  
    left: 0; 
    top: 0;
}

.hamburger .fa-solid{
    color: var(--colore-icon-header);   
}

.menu{
    cursor: pointer;
}

/* Sezione Jumbotron */
.jumbotron{
    background-color: var(--colore-jumbotron);
    margin-top: 85px;
}

.text-jumbotron{
    text-align: center;
}

.img-jumbotron{
    width: 100%;
}

.img-jumbotron img{
    width: 100%;
}

/* Sezione Portfolio */
.img-portfolio img{
    width: 100%;
    border-radius: 15px;
}


/* Sezione About */
.about{
    background-color: var(--colore-jumbotron);
}

.download-about{
    border: 1px solid white;
    background-color: var(--colore-jumbotron);
    border-radius: 5px;
}

/* Contact me */
.message-form{
    height: 200px;
}

.form-group input,
.form-group textarea{
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: none;
}


.form-group input:focus,
.form-group textarea:focus{
    box-shadow: none;
}

.form-group input::placeholder,
.form-group textarea::placeholder{
    color: var(--colore-primario);
}

/* footer */

/* topfooter */
.top-footer{
    background-color: var(--colore-topfooter);
}

/* bottom-footer */
.bottom-footer{
    background-color: var(--colore-bottom-footer);
    height: 110px;
}


